.parallax-container {
    display: none; /* aparece al apretar Jugar */
    position: relative;
    width: 950px;
    height: 567px;
    overflow: hidden;
    margin: 0 auto;
}

/* El canvas está por encima de las capas */
#gameCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 950px;
    height: 580px;
    z-index: 100;
    background: transparent;
}

/* Capas del parallax */
.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 950px;          /* ← ahora coincide con tus imágenes */
    height: 580px;
    background-size: 950px 600px; /* ← sin estirar, tamaño exacto */
    background-repeat: repeat;
    z-index: 1;
}


/* Todas las capas con sus imágenes */
.layer-1 { background-image: url("../Assets/cementerio8_950x600.png"); animation: scroll 10s linear infinite; }
.layer-2  { background-image: url("../Assets/cementerio7.png"); animation: scroll 20s linear infinite; }
.layer-3  { background-image: url("../Assets/cementerio6.png"); animation: scroll 30s linear infinite; }
.layer-4 { background-image: url("../Assets/cementerio5.png"); animation: scroll 40s linear infinite; }
.layer-5  { background-image: url("../Assets/cementerio4.png"); animation: scroll 70s linear infinite; }
.layer-6  { background-image: url("../Assets/cementerio3.png"); animation: scroll 100s linear infinite; }
.layer-7  { background-image: url("../Assets/cementerio2.png"); animation: scroll 110s linear infinite; }
.layer-8 { background-image: url("../Assets/cementerio1Copia.png"); animation: scroll 120s linear infinite; }

/* Keyframes */
@keyframes scroll {
  0% { background-position-x: 0; }
  100%   { background-position-x: -950px; }
}
#cuervo { 
    width: 81px;               
    height: 89px;               
    background: url("../Assets/cuervosVolandoMejora.png") left center no-repeat;
    position: absolute;
    top: 250px;       /* posición inicial en pixeles */
      left: 280px; /* Antes 150px */
    transform: none;  /* 👈 IMPORTANTE: sin translateY */
    z-index: 1000;
    animation: vuelo 0.8s steps(6) infinite;
}

@keyframes vuelo {
    0%{ background-position: 0px 0; }
    100% { background-position: -484px 0; } 
}

.Flappyoverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;      
    height: 100%;
    background: rgba(10, 10, 10, 0.65); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.hidden {
    display: none;
}

.go-box {
    background: rgba(20, 20, 20, 0.9);
    padding: 30px 45px;
    border-radius: 18px;
    text-align: center;
    color: #fff;
    border: 3px solid #3c0f11; 
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    animation: dropIn 0.6s ease-out;
}

@keyframes dropIn {
    0% {
        transform: translateY(-200px) scale(0.9);
        opacity: 0;
    }
    60% {
        transform: translateY(10px) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

.go-box h2 {
    font-family: "Baloo 2", sans-serif;
    margin: 0 0 10px;
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #9e0f12; /* rojizo similar al título */
    text-shadow: 0 0 8px rgba(0,0,0,0.8);
}

#btnReintentar {
    padding: 5px 35px;
    background: #8b0f12;
    color: #fff;
    font-family: "Baloo 2", sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s ease;
}

#btnReintentar:hover {
    transform: scale(1.05);
    background: #a11215;
    box-shadow: 0 0 12px rgba(255,60,60,0.4);
}