@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700&display=swap');
body{
    background-color: #2A2A2A;
}

.canvas-contenedor{
    margin-left: 70px; 
    padding:20px;
    margin-top: 5px;
}

.contenedor-blocka{
    position: relative;
    width: 800px;
    height: 590px;
    background-color: #3f3b36;
    margin: 50px;
    margin-top: 2px;
   
}

.contenedor-blocka .reloj{
    margin-top: 5px;
    margin-right: 45px;
}
.header-juego {
    display: flex;
    width: 650px;
    margin-left: 72px; 
    margin-top: 10px;
    margin-bottom: 5px;
}

.nivel-texto {
    width: 700px;
    height: 20px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #feca57;
    margin-top: 33px;
}

.reloj {
    text-align: center;
    width: 120px;
    height: 40px;
    padding-top: 6px;
    border: 2px solid #814e00;
    border-radius: 10px;
    background-color: rgb(57, 58, 59);

}

.reloj h1 {
    font-size: 20px;
    margin: 0;
    color: chocolate;
}

#ganasteOverlay {
    position: absolute;
    top: 20px; /* un poco abajo del borde superior del canvas */
    left: 50%;
    transform: translateX(-62%) translateY(220%); /* centrar horizontalmente */
    width: 250px;  /* más pequeño que el canvas */
    height: 100px; /* más compacto */
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #beb9b9;
    font-family: 'Baloo 2', sans-serif;
    font-weight: bold;
    z-index: 10;
    text-align: center;
}

#ganasteOverlay h2 {
    font-size: 20px;
    margin-bottom: 2px;
    margin-right: 10px;
}

#nextLevelBtn {
    width: 130px;
    height: 39px;
    font-size: 16px;
    font-family: 'Baloo 2', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background: #ffc400;
    color: #e4e4e4;
    text-shadow: 2px 2px 5px #9c5f03;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-left: 55px;
}

#nextLevelBtn:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

#retryLevelBtn{
    width: 130px;
    height: 39px;
    font-size: 16px;
    font-family: 'Baloo 2', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background: #ffc400;
    color: #0c0b0b;
    text-shadow: 2px 2px 5px #9c5f03;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-left: 55px;
}

#retryLevelBtn:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(70, 68, 68, 0.3);
}

#backBtn {
    width: 130px;
    height: 39px;
    font-size: 16px;
    font-family: 'Baloo 2', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background: #ffc400;
    color: #e4e4e4;
    text-shadow: 2px 2px 5px #9c5f03;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-left: 55px;
}
#canva-Blocka {
    border: 2px solid #ee9f28;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    padding: 0;
}
#startBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-72%, -120%);
    width: 130px;
    height: 40px;
    font-size: 20px;
    font-family: 'Baloo 2', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    background: linear-gradient(45deg, #ffa114, #ffee03);
    color: #fafafa;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 5; /* para que quede por encima del canvas */
}
#startBtn:hover {
    background: linear-gradient(45deg, #ffa114, #ffee03);
    color: #ffeedb;
    text-shadow: 2px 2px 5px #cc7979;
    box-shadow: 0 0 20px rgb(150, 107, 70), 0 0 40px rgba(255, 121, 4, 0.5);
}
