@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
}

body {
    background-color: #2A2A2A;
    overflow-x: hidden
}

/* ===================== */
/*        HEADER         */
/* ===================== */

header {
    width: 100vw;
    max-width: 100%;
    height: 60px;
    background-color: #1c1b1b;
    margin: 0;
    overflow-x: hidden;
}

header section {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 8px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.menu,
.logo,
.suscribirse,
.menu-usuario {
    flex-shrink: 0;
    align-items: center;

}

.menu {
    order: 1;
}

.alinear-buscar {
    flex: 1;
    min-width: 150px;
    max-width: 410px;
    position: relative;
    align-items: center;
    margin-right: 248px;
    margin-bottom: 7px;
    order: 3;
}

.alinear-input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: #2A2A2A;
    font-family: 'Baloo 2', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-left: 50px;
    color: #FAFAFA;
}

.alinear-input::placeholder {
    transform: translateX(-1px);
    color: #B3B3B3;
}

.icono-busqueda {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-12px);
    /* Ajuste fino para el centrado */
    width: 21px;
    height: 21px;
    pointer-events: none;
    margin-left: 13x;
}

/*logo pagina*/
.logo {
    display: flex;
    width: 140px;
    height: 47px;
    flex-shrink: 0;
    margin-right: auto;
    order: 2;
}

.logo img {
    width: auto;
    height: auto;
    max-height: 45px;
}

.suscribirse {
    flex-shrink: 0;

}

.suscribirse input {
    border-radius: 20px;
    width: 130px;
    height: 39px;
    background-color: #FF7904;
    font-family: 'Baloo 2', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #fafafa;
    box-shadow: 0 0 10px rgba(255, 121, 4, 0.6);
    transition: all 0.3s ease;
    margin-bottom: 7px;
    order: 5;
}

.suscribirse input:hover {
    transform: scale(1.1);
    /* agranda un 10% */
    box-shadow: 0 0 20px rgba(255, 121, 4, 1), 0 0 40px rgba(255, 121, 4, 0.5);
}

.popover-suscripcion {
    display: none;
}

.popover-suscripcion.open {
    height: 245px;
    width: 500px;
    border-radius: 20px;
    background: #2a2a2a;
    border: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 2rem;
    box-sizing: border-box;
    z-index: 10;
}

.popover-suscripcion p {
    color: #B3B3B3;
    font-family: 'Baloo 2', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 0.5rem;
}

.popover-suscripcion p span {
    color: #ee9c30;
}

.popover-suscripcion label {
    align-self: flex-start;
    font-family: 'Baloo 2', sans-serif;
    color: #B3B3B3;
    font-size: 16px;
}

.popover-suscripcion input[type="email"] {
    width: 100%;
    padding: 0.4rem 0.6rem;
    border-radius: 15px;
    border: none;
    margin-bottom: 15px;
    font-family: 'Baloo 2', sans-serif;
    font-size: 15px;
    color: #fafafa;
    background-color: #5f5d5d;
}

.opciones-pago {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    width: 100%;
}

.opciones-pago label {
    display: flex;
    align-items: center;
    gap: 2px;
    font-family: 'Baloo 2', sans-serif;
    color: #FAFAFA;
    font-size: 15px;
}


.btn-enviar {
    background-color: steelblue;
    color: #FAFAFA;
    font-family: 'Baloo 2', sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 4px 20px;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 160px;

}

.btn-enviar:hover {
    background-color: rgb(50, 94, 129);
    color: #1a1a1a;
}

.alinear-boton-usuario {
    display: flex;
    align-items: center;
    margin-right: 20px;
    order: 4;
    gap: 10px;

}

/* ===================== */
/*      MENÚ USUARIO     */
/* ===================== */

.menu-usuario img {
    width: 34px;
    height: 34px;
    margin-left: 10px;
    margin-bottom: 2px;
}

#btn-usuario {
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    padding: 0;
    order: 6;
}

.main-nav-user {
    background-color: #373430;
    display: none;
}

.main-nav-user.openUser {
    display: block;
    width: 180px;
    height: 190px;
    margin-left: 1170px;
    position: absolute;
    z-index: 8;
}

.main-nav-user>ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.main-nav-user>ul>li {
    list-style: none;
    height: 10px;
}

.main-nav-user>ul>li {
    display: flex;
    font-family: 'Baloo 2', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 10px;
    color: #B3B3B3;
    margin-left: 7px;
}

.main-nav-user>ul>li>img {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.main-nav-user>ul>li>a {
    color: rgb(226, 62, 56);
    text-decoration: none;
}

.main-nav-user>ul>li>a:hover {
    color: rgb(187, 54, 49);

}

.main-nav-user>ul>li:hover {

    color: #FAFAFA;
}

/* ===================== */
/*    MENÚ HAMBURGUESA   */
/* ===================== */

.menu {
    display: flex;
    width: 10px;
    height: 22px;
    background-color: #4D4D4D;
    margin-right: 5px;
    margin-left: 9px;
}

.menu img {
    width: 25px;
    height: 25px;
}

#btn-open {
    width: auto;
    height: auto;
    background-color: #1c1b1b;
    border: none;
    padding: 0;
}

.main-nav {
    background-color: #1c1b1b;
    display: none;
}

.main-nav.open {
    display: block;
    width: 200px;
    height: 1002px;
    align-items: center;
    position: absolute;
    z-index: 9;
}

.main-nav>ul {
    display: flex;
    flex-direction: column;
}

.main-nav>ul>li {
    list-style: none;
}

.main-nav>ul>li {
    display: flex;
    font-family: 'Baloo 2', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 16px;
    color: #B3B3B3;
}

.main-nav>ul>li>img {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    margin-left: 4px;
}

.main-nav>ul>li>a:visited {
    color: beige;
}

.main-nav>ul>li:hover {
    background-color: #494242;
    color: #FAFAFA;
}

#btn-submenu .flecha-abajo {
    margin-top: 3px;
    transition: transform 0.3s ease;
}

#btn-submenu.open .flecha-abajo {
    transform: rotate(180deg);
}

.submenu {
    display: none;
    flex-direction: column;
    margin-top: 40px;
    margin-left: -30px;
}

.submenu ul {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.submenu li {
    width: 100px;
    font-family: 'Baloo 2', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 5px;
    color: #B3B3B3;
    display: flex;
    align-items: center;
}

.submenu li img {
    width: 20px;
    height: 20px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.submenu li:hover {
    color: #fff5b6;
}

.submenu.open {
    display: flex;
    position: absolute;
    margin-left: 25px;
    align-items: center;
}


/* ===================== */
/*        FOOTER         */
/* ===================== */

footer {
    background-color: #1C1B1B;
    width: 100%;
    min-height: 432px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Baloo 2', sans-serif;
    padding: 40px 20px 0px 20px;
    /* ← Reducir padding inferior a 16px */
    box-sizing: border-box;
}


.footer-content {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr) auto;
    gap: 80px;
    align-items: center;
    margin-bottom: 108px;
    margin-top: 30px;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 0px;
    /* ← Reducir el espacio antes del texto legal */
}

/* Secciones nav */
footer nav {
    display: flex;
    flex-direction: column;
    align-self: start;
}

footer nav h3 {
    font-weight: 600;
    font-size: 22px;
    color: #FFDD33;
    margin: 0 0 4px 0;
}

footer nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
}

footer nav li {
    margin: 0;
}

footer nav a {
    font-weight: 500;
    font-size: 16px;
    color: #B3B3B3;
    text-decoration: none;
    transition: color 0.2s;
}

footer nav a:hover {
    color: #FAFAFA;
}

/* Logo */
.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    grid-column: auto;
}

.footer-logo img {
    width: 180px;
    height: auto;
    margin-left: 9px;
}

/* Redes sociales */
.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    margin-bottom: 18px;
    /* ← Aumentado */
}

.footer-social a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-social img:hover{
 filter: brightness(70%);
}

/* Texto legal */
footer p {
    font-size: 14px;
    font-weight: 400;
    color: #B3B3B3;
    text-align: center;
    line-height: 0;
    margin-bottom: 25px;
}

footer p a {
    color: #5B9BD5;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}