*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    outline: none;
}
body{
    background-color: #2A2A2A;
    
}
header{
    
    width: 1350px;
    height: 60px;
    background-color:  #1c1b1b;
   
}
header section {
    display: flex;
    align-items: center;
    
}

/*barra buscar*/
.alinear-buscar{
    display: flex;
    margin-left: 298px;
    position: relative;
    width: 340px;
    
}
.alinear-input{
    display: flex;
    border-radius: 20px;
    width: 410px;
    height: 40px;
    background-color: #2A2A2A;
    font-family: 'Baloo 2', sans-serif;
    font-weight: bold ;
    font-size: 18px;
    
    
}
.alinear-input::placeholder{
    transform: translateX(45px);
    color: #B3B3B3;

}
.icono-busqueda{
  position: absolute; /* Para mover la imagen libremente */
  top: 50%; /* Centra verticalmente */
  left: 15px; /* Posiciona a la izquierda */
  transform: translateY(-12px); /* Ajuste fino para el centrado */
  width: 21px; /* Tamaño de la imagen */
  height: 21px;
  pointer-events: none; /* Permite que el input sea clickeable */
  margin-left: 13x;
  
}

/*logo pagina*/
.logo{
    display: flex;
    margin-left: 21px;
    width: 144px;
    height: 47px;

}
.logo img{
    width: 128px;
    height: 46px;
}
/*boton subscripcion*/
.suscribirse {
    display: flex;
    margin-left: 300px;
    margin-bottom: 10px;
    width: 130px;
    height: 48px;
    
}

.suscribirse input{
    border-radius: 20px;
    margin-top: 12px;
    width: 130px;
    background-color:  #FF7904;
    font-family: 'Baloo 2', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #fafafa;
    box-shadow: 0 0 10px rgba(255, 121, 4, 0.6); /* brillo inicial */
    cursor: pointer;
    transition: all 0.3s ease; /* transición suave */
}
.suscribirse input:hover {
    transform: scale(1.1); /* agranda un 10% */
    box-shadow: 0 0 20px rgba(255, 121, 4, 1), 0 0 40px rgba(255, 121, 4, 0.5);
}
/*menu usuario*/
.menu-usuario{
    display: flex;
    margin-left: 30px;
    margin-right: 50px;  
    width: 20px;
    height: 20px;

}
.menu-usuario img{
     width: 25px;
     height: 25px;
}
#btn-usuario{
    width: 13px;
    height: 23px;
    background-color: #1c1b1b;
    border: none;
}
.main-nav-user {
    background-color:#413a32;
    display: none;
}
.main-nav-user.openUser {
    display: block;
    width: 180px;
    height: 90px;
    margin-left: 1170px;
    margin-top: 2px;
    position: absolute;
}
.main-nav-user > ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.main-nav-user > ul > li {
    list-style: none;
    height: 10px;
}

.main-nav-user > ul > li  {
    display: flex;
    font-family: 'Baloo 2', sans-serif;
    font-weight: 600 ;
    font-size: 17px;
    padding: 13px;
    color: #B3B3B3;
    margin-left: 7px;
   
    
  
}
.main-nav-user > ul > li > img{
    width: 22px;
    height: 22px;
    margin-right: 10px;

}
.main-nav-user > ul > li > a:visited { 
    color: beige;
}

.main-nav-user > ul > li:hover { 
   
    color:#FAFAFA;
}



/*menu hamburguesa*/

 .menu{
    display: flex;
    width: 10px;
    height: 22px;
    background-color:  #4D4D4D;
    margin-left: 18px;
    margin-bottom: 2px;

    
 }
 .menu img{
     width: 20px;
    height: 26px;
 }
 #btn-open{
    width: 13px;
    height: 23px;
    background-color: #1c1b1b;
   border: none;
   
}
.main-nav {
    background-color:#1c1b1b;
    display: none;
}

.main-nav.open {
    display: block;
    width: 200px;
    height: 900px;
    text-align: left;
     margin-top: 2px;
     position: absolute;
    z-index: 10;
  
}

.main-nav > ul {
    margin: 2;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.main-nav > ul > li {
    list-style: none;
    
}

.main-nav > ul > li  {
    display: flex;
    font-family: 'Baloo 2', sans-serif;
    font-weight: 600 ;
    font-size: 17px;
    padding: 16px;
    color: #B3B3B3;
    margin-left: 7px;
   
  
}
.main-nav > ul > li > img{
    width: 22px;
    height: 22px;
    margin-right: 10px;

}
.main-nav > ul > li > a:visited { 
    color: beige;
}

.main-nav > ul > li:hover { 
    background-color: #494242;
    color:#FAFAFA;
}

/*home*/



/*juego*/

.breadcumbs{
    display: flex;
    width: 1000px;
    margin-left: 58px;
    margin-bottom: 10px;
    margin-top: 20px;
    align-items: center;
}
.breadcumbs p{
   
   font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: #FAFAFA;
}
.breadcumbs img{
   
    width: 17px;
    height: 17px;
}
.breadcumbs a{
    font-family: 'Baloo 2', sans-serif;
    font-weight: 600 ;
    font-size: 18px;
    margin-left: 8px;
    color: #B3B3B3;
}
.juego-reglas{
    display: flex;
    width: 1340px;
    height: 500px;

}

.juego{
    width: 900px;
    height: 500px;
    background-color: #FF7904;
    margin-left: 58px;
    position: relative;
    z-index: 1;
   
}
.juego div img{
    width: 900px;
    height: 500px;
    filter: brightness(40%);
}
.boton-jugar{
    width: 500px;;
    position: absolute;
    top:250px;
    margin-left: 200px;
    transform: translate(30%, -50%);
    


}
.boton-jugar p{
    font-family: 'Baloo 2', sans-serif;
    font-weight: 600 ;
    font-size: 20px;
    color: #B3B3B3;
    
}

.btn-fire-gif-container {
  position: relative;
  display: inline-block;
}
.btn-jugar{
    width: 139px;
    height: 38px;
    border-radius: 20px;
    background-color:  #FF7904;
    font-family: 'Baloo 2', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #fafafa;
    z-index: 8;
    position: relative;
    display: inline-flex;          /* Activa flexbox en el botón */
    align-items: center;          /* Centra verticalmente texto + ícono */
    justify-content: center;      /*Centra horizontalmente*/
    gap: 4px;    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;  
}
.btn-fire-gif-container img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%) scale(0); /*img oculta*/
  pointer-events: none;
}

/* Posición y rotación de los GIFs */
.fire-left {
 right: -306px;
}

.fire-right {
  left: -306px;
}

/* Hover: mostrar GIFs y animar botón */
.btn-fire-gif-container:hover .fire-left {
  transform: translateY(-50%) rotate(-90deg) scale(0.06);
  filter: brightness(80%);
}

.btn-fire-gif-container:hover .fire-right {
  transform: translateY(-50%) rotate(90deg) scale(0.06);
   filter: brightness(80%);
}
.btn-jugar:hover {
  transform: scale(1);
  box-shadow: 0 0 30px #ff8c00, 0 0 80px #ff4500;
}

.reglas{
    width: 324px; 
    height: 500px;
    margin-left: 28px;
    background-color: #1c1b1b;
    padding: o;
}
.reglas div{
    display: block;
    height: 200px;
    width: 324px;
    text-align: justify;
    font-family: 'Baloo 2', sans-serif;
    font-weight: 500 ;
    color: #FFDD33;
    
    
    
}
.reglas div h3{
    margin-top: 25px;
    text-align: center;
}
.reglas div ul {
    width: 250px;
    height: 200px;
    font-size: 16px;
    font-weight: 200px;
    color: #B3B3B3;
    padding: 0px;
    margin-left: 40px;
    text-indent: -5px;
   
   

}
.reglas div ul li{
    list-style-type: disc;
    white-space: initial;
    line-height: 19px;
    text-align: start;
}
.reglas p{
    color:#B3B3B3;
    margin-left:22px ;
    margin-top: 10px;

}
.reglas div img{
    width: 70px;
    height: 70px;
    margin-left: 200px;
}
/*registro*/

/*login*/

.fondo-form {
    background-image: url('Assets/fondo_form.png'); 
}

.contenedor-principal { 
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

.section-login {
   background-color: #2a2a2a;
   padding: 30px 70px;
   border-radius: 20px;
   width: 420px;
   text-align: center;
   color: #fafafa;
   opacity: 95%;
   margin-top: 30px;
}

.logo-login {
    max-width: 170px;
    margin: 0 auto 1rem auto;
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-login label {
    font-family: 'Baloo 2', sans-serif ;
    font-size: 16px;
    margin-bottom: 0.1rem;
    text-align: left;
}

.campo-input {
    width: 98%;
    padding: 5px;
    border-radius: 20px;
    outline: none;
    background-color: transparent;
    border: 2px solid #b3b3b3;
    color: #fafafa;
    font-family: 'Baloo 2', sans-serif;
    font-size: 15px;
}

.usuario-form, 
.contraseña-form {
    display: flex;
    flex-direction: column;
}

.input-contenedor {
    position: relative;
    display: flex;
    align-items: center;
}

.toggle-password {
    position: absolute;
    right: 12px;
    cursor: pointer;
    font-size: 18px;
    color: #b3b3b3;
}

/* Recordarme + Recuperar cuenta*/
.opciones-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'Baloo 2', sans-serif;
    font-size: 14px;
    color: #b3b3b3
}

.opciones-form label {
    display: flex;
    align-items: center;
    gap: 0.3rem; 
    color: #b3b3b3;
    font-size: 14px;
}

.opciones-form input[type="checkbox"] {
    appearance: none; /*desactiva el estilo nativo*/
    width: 14px;
    height: 14px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opciones-form input[type="checkbox"]:checked::after {
    content: "✓"; 
    font-size: 10px;
    color: #b3b3b3;
}

.opciones-form a {
    color: #ff4d4d;
    text-decoration: underline;
}

.btn-login {
    display: block;
    margin: 0 auto 1.5rem auto; /*centrar*/
    margin-bottom: 8px;
    margin-top: 10px;
    width: 60%;
    background-color: #ffd600;
    color: #fafafa;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 30px;
    font-family: 'Baloo 2', sans-serif;
    cursor: pointer;
}

.separador {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1.2rem 0;
    color: #b3b3bb;
    gap: 10px;
    font-size: 20px;
}

.separador::before,
.separador::after {
    content: "";
    display: block;
    width: 110px;
    height: 1px;
    background-color: #B3B3B3;
}

.login-social {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.login-social button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
    width: 60%;
    padding: 5px;
    border-radius: 30px;
    font-size: 15px;
    font-family: 'Baloo 2', sans-serif;
    cursor: pointer;
    margin: 0 auto;
}

.login-social .icon {
    position: absolute;
    left: 15px;
    width: 20px;
    height: 20px;
    object-fit: contain; /*para que el ícono no se deforme*/
}

.login-social button span {
    flex: 1;
    text-align: center;
}

.btn-google {
    color: #1a1a1a;
    background-color: #fafafa;
}

.btn-facebook {
    color: #fafafa;
    background-color: #393586;
}

.pie-login {
    color:#B3B3B3;
    margin-top: 1.2rem;
    font-family: 'Baloo 2', sans-serif;
    font-size: 14px;
}

.pie-login a {
    color: #fafafa;
    text-decoration: none;
}



