*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    outline: none;
}
body{
    background-color: #2A2A2A;
}
header{
    display: flex;
    width: 1366px;
    height: 60px;
    background-color:  #1c1b1b;
   
}
header section {
    display: flex;
    align-items: center;
     width: 1366px;
   
}
/*barra buscar*/
.alinear-buscar{
    display: flex;
    margin-left: 298px;
    position: relative;
    width: 340px;
    
  

}
.alinear-input{
    display: flex;
    border-radius: 20px;
    width: 410px;
    height: 40px;
    background-color: #2A2A2A;
    font-family: 'Baloo 2', sans-serif;
    font-weight: bold ;
    font-size: 18px;
    
    
}
.alinear-input::placeholder{
    transform: translateX(45px);
    color: #B3B3B3;

}
.icono-busqueda{
  position: absolute; /* Para mover la imagen libremente */
  top: 50%; /* Centra verticalmente */
  left: 15px; /* Posiciona a la izquierda */
  transform: translateY(-12px); /* Ajuste fino para el centrado */
  width: 21px; /* Tamaño de la imagen */
  height: 21px;
  pointer-events: none; /* Permite que el input sea clickeable */
  margin-left: 13x;
  
}
/*logo pagina*/
.logo{
    display: flex;
    margin-left: 21px;
    width: 144px;
    height: 47px;

}
.logo img{
    width: 128px;
    height: 46px;
}
/*boton subscripcion*/
.suscribirse {
    display: flex;
    margin-left: 400px;
    margin-bottom: 11px;
    width: 200px;
    height: 46px;
    
}

.suscribirse input{
    border-radius: 20px;
    margin-top: 12px;
    width: 130px;
    background-color:  #FF7904;
    font-family: 'Baloo 2', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #fafafa;
}
/*menu hamburguesa*/

 .menu{
    display: flex;
    width: 10px;
    height: 22px;
    background-color:  #4D4D4D;
    margin-left: 18px;
    margin-bottom: 2px;

    
 }
 .menu img{
     width: 20px;
    height: 26px;
 }
 #btn-open{
    width: 13px;
    height: 23px;
    background-color: #1c1b1b;
   border: none;
   
}
.main-nav {
    background-color:#1c1b1b;
    display: none;
}

.main-nav.open {
    display: block;
    width: 200px;
    height: 900px;
    text-align: left;
}

.main-nav > ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.main-nav > ul > li {
    list-style: none;
}

.main-nav > ul > li  {
    display: block;
   
    padding: 16px;
    color: #fafafa;
}

.main-nav > ul > li > a:visited { 
    color: initial;
}

.main-nav > ul > li > a:hover { 
    background-color: #FAFAFA;
    color:#FAFAFA;
}

/*home*/



/*juego*/


/*registro*/